@media (max-width: 400px) {
    .nav_links,
    .nav_btn {
        display: none;
    }

    .navigation {
        padding: 3.1rem 2.8rem;
    }

    #hero-section {
        padding: 0 1.4rem;
    }

    .hero-section_right,
    .hero-section_left {
        width: 100%;
        padding: 0;
    }

    .hero-section {
        padding: 6rem 4rem;
    }
    .hero-section_left {
        margin-bottom: 3.6rem;
    }

    .circle-shape {
        width: 17.3rem;
        height: 17.3rem;
        margin-left: 0px;
        left: 9rem;
        top: 4rem;
    }

    .hero-img {
        width: 24rem;
        height: 29rem;
    }

    .top-text {
        font-size: 1.3rem;
        letter-spacing: 0.3rem;
        font-weight: 400;
        text-align: center;
    }

    .hero-section_right h1 {
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -1px;
        text-align: center;
    }

    .hero-section_right span {
        letter-spacing: 0.2rem;
    }

    .p-text {
        text-align: center;
    }

    .line {
        width: 10%;
        margin-right: 3rem;
    }

    #features-section {
        padding: 5rem 3rem;
    }

    .feature {
        display: block;
        width: 100%;
        margin-bottom: 4.5rem;
    }

    .feature-icon,
    .feature-text {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .feature-icon {
        margin-left: 13rem;
    }

    .product-section {
        padding: 3rem 3rem;
    }

    .sign {
        display: none;
    }

    .product-img:first-child {
        display: none;
    }

    .product-img:nth-child(2) {
        display: none;
    }

    .product-heading {
        text-align: center;
        margin-left: 4.5rem;
        width: 73%;
    }

    .product-img {
        width: 100%;
    }

    .price {
        width: 28rem;
        padding: 2.5rem;
        right: 2.5rem;
    }

    .price p {
        margin-right: 7rem;
    }
}
