@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazzardL", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 110px;
}

.logo {
    height: 28px;
    /* width: 80px; */
}

.navigation {
    width: 1296px;
    margin: 0 auto;
    padding: 40px 152px;
    text-align: center;
    background-color: antiquewhite;
}

.navigation a {
    color: #1d263a;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: top;
    width: 10%;
}

.nav_links {
    width: 81%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.nav_links li {
    display: inline-block;
}

.nav_links li:not(:last-child) {
    margin-right: 50px;
}
