/* Header */

.header {
    height: 110px;
}

.logo {
    height: 28px;
}

.navigation {
    width: 1600px;
    margin: 0 auto;
    padding: 40px 152px;
    text-align: center;
}

.navigation a {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: top;
    width: 10%;
}

.nav_links {
    width: 81%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.nav_links li {
    display: inline-block;
}

.nav_links li:not(:last-child) {
    margin-right: 50px;
}

/* Hero-Section */

.hero-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.hero-section {
    position: relative;
    background-color: var(--prime-color);
    height: 676px;
    margin-bottom: 107px;
    border-radius: 30px;
}
.hero-section_left {
    height: 676px;
    display: inline-block;
    position: relative;
}

.hero-img {
    height: 525px;
    position: absolute;
    top: 75px;
    left: 90px;
}

.circle-shape {
    height: 313px;
    top: 146px;
    left: 250px;
    position: absolute;
}

.hero-section_right {
    position: absolute;
    top: 129px;
    right: 77px;
    left: 600px;
    display: inline-block;
    margin-left: 90px;
    /* width: 55%; */
}

.top-text {
    color: var(--orange-color);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 34px;
    letter-spacing: 6px;
}

h1 {
    color: var(--black-color);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 27px;
    letter-spacing: -1px;
}
.line {
    margin-right: 15px;
}

.p-text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 58px;
    line-height: 28px;
    opacity: 0.69;
}

span {
    color: var(--black-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
}

/* Features-Section */

.features-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.features-section {
    padding: 100px 152px 80px;
}

.features-section h4 {
    color: var(--black-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.3px;
}

.features-section p {
    color: var(--black-color);
    opacity: 0.800000011920929;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 186.667% */
}

.features-section .feature:not(:last-child) {
    margin-right: 50px;
}

.feature {
    width: calc((100% - 120px) / 3);
    display: inline-block;
    vertical-align: top;
}

.feature-icon,
.feature-text {
    display: inline-block;
    vertical-align: top;
}

.feature-icon {
    margin-right: 36px;
}

.ellipse {
    position: relative;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.ellipse.shape-1 {
    background-color: var(--light-green-color);
    opacity: 0.4000000059604645;
}

.ellipse.shape-2 {
    background-color: var(--light-orange-color);
    opacity: 0.4000000059604645;
}

.ellipse.shape-3 {
    background-color: var(--light-blue-color);
}

.ellipse .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-6 {
    margin-bottom: 10px;
}
/* Product-Section */

.product-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.product-section {
    padding: 102px 152px;
}

.product-top {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.product-heading {
    margin-bottom: 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: 0.5px;
}

.sign {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.sign-1,
.sign-2 {
    width: 25px;
    height: 20px;
}

.product-img {
    display: inline-block;
    height: 680px;
    width: 32%;
}

.product-img img:not(.price img) {
    height: 680px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.product-buttom {
    width: 100%;
}

.product-last {
    position: relative;
}

.product-buttom div:not(:last-child) {
    margin-right: 20px;
}

.price {
    position: absolute;
    bottom: 15px;
    right: 60px;
    width: 336px;
    height: 115px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
}

.price span {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    color: var(--orange-color);
}

.price p {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 120px;
    margin-top: 10px;
}

.price img {
    width: 19px;
    height: 15px;
}

/* Process-Section */

.process-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.process-section {
    padding: 102px 152px;
    position: relative;
}

.process-section h3 {
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 176.471% */
    letter-spacing: 4px;
    opacity: 0.699999988079071;
    margin-bottom: 116px;
}

.first-lane,
.second-lane {
    margin-bottom: 170px;
}

.process-section span {
    color: var(--green-color);
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.5px;
    position: absolute;
}

.process-section h4 {
    color: var(--black-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 127.778% */
    letter-spacing: -1px;
    display: inline-block;
    margin-left: 80px;
    margin-right: 85px;
}

.process-section p {
    color: var(--black-color);
    width: 416px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.6000000238418579;
    display: inline-block;
    margin-right: 140px;
    position: absolute;
}

.process-section a {
    color: var(--black-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 169.231% */
    letter-spacing: 4px;
    position: absolute;
    right: 160px;
}

.process-section img {
    position: relative;
    right: 20px;
}

/* Explore-Section */

.explore-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.explore-section {
    padding: 102px 152px;
    position: relative;
    /* margin-bottom: 115px;
    margin-top: 166px; */
}

.couple {
    width: 485px;
    height: 577px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #c4c4c4;
}

.explore-shape {
    width: 190px;
    flex-shrink: 0;
    fill: var(--green-color);
    opacity: 0.8999999761581421;
    position: absolute;
    bottom: 70px;
    left: 380px;
}
.explore-section_left {
    display: inline-block;
}

.explore-section_right p {
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    margin-bottom: 46px;
}

.explore-section_right h3 {
    color: var(--black-color);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.explore-section_right {
    position: absolute;
    top: 180px;
    right: 338px;
}

.explore-section_right span {
    color: var(--black-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
}

/* Review Section */

.review-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.review-section {
    position: relative;
    margin-bottom: 115px;
    margin-top: 95px;
}

.review-section_left {
    background: var(--orange-color);
    display: inline-block;
    width: 50%;
    height: 758px;
}

.review-section_right {
    display: inline-block;
    width: 50%;
}

.review-section_left h4 {
    color: var(--white-color);
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: -1px;
    position: absolute;
    top: 230px;
    left: 150px;
}

.review-section_left h5 {
    color: var(--white-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.3px;
    position: absolute;
    top: 491px;
    left: 200px;
}

.review-section_left p {
    color: var(--white-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    position: absolute;
    top: 527px;
    left: 200px;
}

.review-section_right img {
    top: 0;
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: cover;
    height: 758px;
}

.play-img {
    width: 92px;
    height: 92px;
    display: inline-block;
    position: absolute;
    top: 330px;
    right: 360px;
}

.play-img :first-child {
    width: 92px;
    height: 92px;
    flex-shrink: 0;
}

.play-img :last-child {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Subscribe Section */

.subscribe-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.subscribe-section h4 {
    color: var(--black-color);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: -1px;
    opacity: 0.8999999761581421;
    margin-bottom: 34px;
}

.subscribe-section p {
    color: var(--black-color);
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
    margin-bottom: 57px;
}

.subscribe-section #email {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 500px;
    border-color: #dfdfdf;
    height: 70px;
    width: 404px;
    border-radius: 10px 0px 0px 10px;
}

.subscribe-section #button {
    border-radius: 0px 10px 10px 0px;
    background: var(--green-color);
    border: none;
    margin-left: -5px;
    border-color: #dfdfdf;
    height: 70px;
    width: 200px;
    border-radius: 0px 10px 10px 0px;
}

.lock {
    margin-top: 33px;
    margin-left: 680px;
    margin-bottom: 125px;
}

.lock img,
.lock p {
    display: inline-block;
}

.lock img {
    margin-right: 10px;
}

/* Footer Section */

.footer-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.footer-section {
    width: 1600px;
    padding: 102px 61px 63px;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    background-color: var(--prime-color);
    margin-bottom: 80px;
}

.footer-logo p {
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
    margin-bottom: 46px;
}

.footer-logo {
    margin-left: 95px;
}

.footer-logo img {
    margin-bottom: 70px;
}

.footer-logo,
.contact,
.product,
.company {
    display: inline-block;
    margin-right: 130px;
}

.contact,
.product,
.company,
h5 {
    color: var(--black-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 169.231% */
    letter-spacing: 4px;
    margin-bottom: 73px;
    align-items: center;
}

.contact p {
    margin-bottom: 22px;
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
}

.contact a {
    display: block;
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
    margin-bottom: 22px;
}

.product a {
    display: block;
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
    margin-bottom: 22px;
}

.company a {
    display: block;
    color: var(--black-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.699999988079071;
    margin-bottom: 22px;
}
