@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazzardL", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    height: 110px;
}

.logo {
    height: 28px;
    /* width: 80px; */
}

.navigation {
    width: 1296px;
    margin: 0 auto;
    padding: 40px 152px;
    text-align: center;
}

.navigation a {
    color: #1d263a;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    vertical-align: top;
    width: 10%;
}

.nav_links {
    width: 81%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.nav_links li {
    display: inline-block;
}

.nav_links li:not(:last-child) {
    margin-right: 50px;
}

/* Hero-Section */

.hero-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.hero-section {
    position: relative;
    background-color: #fae2da;
    height: 676px;
    margin-bottom: 107px;
    border-radius: 30px;
}
.hero-section_left {
    height: 676px;
    display: inline-block;
    position: relative;
}

.hero-img {
    height: 525px;
    position: absolute;
    top: 75px;
    left: 90px;
}

.circle-shape {
    height: 313px;
    top: 146px;
    left: 250px;
    position: absolute;
}

.hero-section_right {
    position: absolute;
    top: 129px;
    right: 77px;
    left: 600px;
    display: inline-block;
    /* width: 55%; */
}

.top-text {
    color: #ff794d;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 34px;
    letter-spacing: 6px;
}

h1 {
    color: #1d263a;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 27px;
    letter-spacing: -1px;
}
.line {
    margin-right: 15px;
}

.p-text {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 58px;
    line-height: 28px;
    opacity: 0.69;
}

span {
    color: #1d263a;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
}

/* Features-Section */

.features-section_container {
    width: 1296px;
    margin: 0 auto;
    padding: 0 152px;
    position: relative;
    background-color: antiquewhite;
    margin-bottom: 120px;
}
.feature-section {
    display: inline-block;
    position: relative;
}
.feature-section p {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400s;
}

.feature-section h2 {
    margin-bottom: 15px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.3px;
}

.icon-1 {
    display: inline-block;
    width: 33.3%;
    position: relative;
}

.icon-3 {
    display: inline-block;
    width: 33.3%;
    position: relative;
}

.icon-1,
.icon-2,
.icon-3 {
    margin-top: 6px;
    margin-right: 37px;
    display: inline-block;
    position: relative;
}
.icon-1 {
    display: inline-block;
    width: 33.3%;
    position: relative;
    margin-left: 0;
}

.icon-2 {
    display: inline-block;
    width: 33.3%;
    position: relative;
}

.icon-3 {
    display: inline-block;
    width: 33.3%;
    position: relative;
}

.heart,
.zap,
.headphone {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart {
    background-color: #d6ebe4;
}

.zap {
    background-color: #fae2da;
}

.headphone {
    background-color: #ebf5ff;
}

/* Product-Section */

.product-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.product-section {
    padding: 0 152px;
    position: relative;
}

.sign {
    position: absolute;
    top: 15px;
    right: 152px;
    margin-bottom: 40px;
}

.product-heading {
    margin-bottom: 40px;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50.4px; /* 120% */
    letter-spacing: 0.5px;
}

.sign-1,
.sign-2 {
    width: 25px;
    height: 20px;
}
.product-content img {
    border-radius: 30px;
    display: inline-block;
    width: calc((100% - 20px) / 3);
    height: 682px;
    object-fit: cover;
    margin-bottom: 100px;
}

.product-section_container .product-content img:not(:last-child) {
    margin-right: 5px;
}

.price {
    position: absolute;
    bottom: 120px;
    right: 220px;
    width: 336px;
    height: 115px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.price span {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    color: orange;
}

.price p {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 120px;
    margin-top: 10px;
}

.price img {
    width: 19px;
    height: 15px;
}

/* Process-Section */

.process-section_container {
    max-width: 1600px;
    margin: 0 auto;
}

.process-section {
    padding: 0 152px;
    position: relative;
    margin-bottom: 115px;
}

.process-section h3 {
    color: #1d263a;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 176.471% */
    letter-spacing: 4px;
    opacity: 0.699999988079071;
    margin-bottom: 116px;
}

.first-lane,
.second-lane {
    margin-bottom: 170px;
}

.process-section span {
    color: #20bfa9;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.5px;
    position: absolute;
}

.process-section h4 {
    color: var(--text-color, #1d263a);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 127.778% */
    letter-spacing: -1px;
    display: inline-block;
    margin-left: 80px;
    margin-right: 85px;
}

.process-section p {
    color: var(--text-color, #1d263a);
    width: 416px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 176.471% */
    opacity: 0.6000000238418579;
    display: inline-block;
    margin-right: 140px;
    position: absolute;
}

.process-section a {
    color: var(--text-color, #1d263a);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 169.231% */
    letter-spacing: 4px;
    position: absolute;
    right: 160px;
}

.process-section img {
    position: relative;
    right: 20px;
}
